# Исследование надежности заемщиков

В данном исследовании мы выявим зависмости между появленем просрочек по кредитам и:
- наличием и количеством детей у заёмщика,
- семейным положением заёмщика,
- уровнем дохода заёмщика,
- целью кредитования.

**Цель:Выявить категории заёмщиков с наименьшими и наибольшими рисками несвоевременной оплаты по кредитам.**

Для анализа будет использована таблица с имеющимися данными по ранее выданным кредитам.

**План работы**:
- оценить датафрейм на наличие пропусков данных,
- по возможности заполнить пропуски средним медианным значением,
- удалить строки с аномальными значениями,
- удалить строки-дубликаты,
- устранить неявные дубликаты,
- провести анализ данных по необходимым критериям,
- сделать выводы

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [4]:
import pandas as pd

In [5]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [6]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [8]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [9]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [10]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [11]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [12]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [13]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [14]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [15]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [16]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [17]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [18]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [19]:
data.duplicated().sum()

71

In [20]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [21]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [22]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [23]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [24]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [25]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

***Для удобства анализа данных составим сводную таблицу, в которой будет одновременно отражено число заёмщиков и количество случаев несвоевременной оплаты по кредитам, а также доля таких случаев от общего числа выданных кредитов.***

In [26]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_child = data[['children', 'debt']]
data_child = data_child.pivot_table(index=['children'], values='debt', aggfunc={'sum', 'count', 'mean'})
data_child.sort_values(by='mean', ascending=False)

            count      mean     sum
children
4            41.0  0.097561     4.0
2          2052.0  0.094542   194.0
1          4808.0  0.092346   444.0
3           330.0  0.081818    27.0
0         14091.0  0.075438  1063.0
5             9.0  0.000000     0.0

**Вывод:** 
Из полученных даных видно, что больше всех просрочек по кредитам у заёмщиков с четырьмя детьми, в тоже время у заёмщиков с пятью детьми просрочек нет совсем! Однако, абсолюное количество заёмщиков уменьшается на порядок при увеличении количества детей. Заёмщиков с количеством детей `4-5` в данном случае можно вообще не брать во внимание, так как их доля мала и может не отражать общей картины по данной категории заёмщиков. В разрезе количества детей `от 0 до 3`, наибольшее количество просрочек у заёмщиков `с 1 или 2` детьми. У заёмщиков с тремя детьми или без детей доля просрочек меньше.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

***Аналогично сотавим таблицу для определения закономерности между семейным положением и своевременной оплаты.***

In [27]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_family = data[['family_status', 'debt']]
data_family = data_family.pivot_table(index=['family_status'], values='debt', aggfunc={'sum', 'count', 'mean'})
data_family.sort_values(by='mean', ascending=False)

                         count      mean    sum
family_status
Не женат / не замужем   2796.0  0.097639  273.0
гражданский брак        4134.0  0.093130  385.0
женат / замужем        12261.0  0.075606  927.0
в разводе               1189.0  0.070648   84.0
вдовец / вдова           951.0  0.066246   63.0

**Вывод:** Здесь видно, что самые высокие риски по несвоевременной оплате приходятся на неженатых / незамужних, а также на заёмщиков, состоящих в неофициальном браке. Самыми дисциплинированными оказались вдовцы/вдовы. Далее слудуют разведенные и женатые/замужем соответственно, их показатели тоже достаточно низкие.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

***Также проведём анализ по уровню дохода. Для удоства анализа добавам таблицу с распределением размера зарплаты по категориям***

In [28]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_income = data[['total_income_category', 'debt']]
data_income = data_income.pivot_table(index=['total_income_category'], values='debt', aggfunc={'sum', 'count', 'mean'})
data_income.sort_values(by='mean', ascending=False)

                         count      mean     sum
total_income_category
E                         22.0  0.090909     2.0
C                      15921.0  0.084982  1353.0
A                         25.0  0.080000     2.0
B                       5014.0  0.070602   354.0
D                        349.0  0.060172    21.0

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

**Вывод:** Получили довольно интересный рультат. Лидерами антирейтинга стали клиенты с минимальной зарплатой (категория `Е`). Также в Топ 3 попали заёмщики со средним доходом(категория `С`) и с доходом свыше 1 миллиона(категория `A`)! По таблице видно, что общее количество заёмщиков из категирий `A, D и Е` слишком мало для выявления тенденции. Основную массу заёмщиков составляю клиенты из категорий `B и С`. Если учитывать только эти категирии, то выходит, что заёмщики с более высоким доходом реже допускают просрочки платежей.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

***Закончим анализ выявлением тенденции в зависимости от целей кредитования***

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_category = data[['purpose_category', 'debt']]
data_category = data_category.pivot_table(index=['purpose_category'], values='debt', aggfunc={'sum', 'count', 'mean'})
data_category.sort_values(by='mean', ascending=False)

                            count      mean    sum
purpose_category
операции с автомобилем     4279.0  0.093480  400.0
получение образования      3988.0  0.092528  369.0
проведение свадьбы         2313.0  0.079118  183.0
операции с недвижимостью  10751.0  0.072551  780.0

**Вывод:** Самыми ненадёжными заёмщиками стали клиенты, взявшие кредит на `образование` и на `покупку автомобиля`, их доли примерно равны. Лидерами по своевременной оплате стали клиенты, взявшие кредит на `операции с недвижимостью`, немного отстают от них желащие `оплатить свадьбу`.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в значении `Средней заработной платы` могли появиться на этапе ввода данных клиентов, например, если у заёмщика нет официального дохода и данные ячейки просто не стали заполнять. По той же причине может быть не заполнен и `Трудовой стаж`, если клиент не продоставил справку с работы, а менеджер просто пропустил ячейку.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  Если брать среднее значение, вместо медианного, то значение вероятнее всего будет некорректным ввиду наличия малого количества данных с экстремально высоким или низким значением, которые сильно сдвинут баланс в сторону. Медианное же значение берёт значение из середины среза и лучше отображает "Среднюю температуру по больнице"

### Шаг 4: общий вывод.

**Количество детей**
По данному критерию замыми надежными заёмщиками являюся клиенты, `не имеющие детей`, доля кредитов с несвоевременной оплатой - `0,75`.  Среди клиентов `с одним или двумя детьми` доля непунктуальных заёмщиков уличивается до `0,92-0,95`. Клиенты с большим количеством детей в выборку не попали, так как их доля в общей массе заёмщиков слишком мала для проведения анализа.

**Семейное положение**
По данному критерию лучшими клиентами стали `вдовы/вдовцы, в разводе и женатые/замужем` с долей просрочек менее `0,07 - 0,08`. В то же время самыми ненадёжными стали клиенты, `состоящие в гражданском браке и одинокие`, их доля `0,09 - 0,10`. Возможно, менеджерам стоит более внимательно выдавать кредиты данным категориям и запрашивать дополнительные документы и справки.

**Уровень дохода**
По данному критерию лучше всех показали себя заёмщики со средним заработком `от 200 тысяч до 1 миллиона` с долей несвоевременно оплаченных кредитов `0,07`. Хуже всех - заёмщики со средней зарплатой `50 - 200 тысяч` с долей `0,85`. Клиенты со средней заработной платой ниже `50 тысяч и свыше 1миллиона` в выборку не попали, их количество недостаточно для анализа. В целом, обратная пропорциональность в виде уменьшения доли просрочек с увеличением дохода налицо.

**Цель кредита**
Лучшими кредитами с точки зрения своевременной оплаты стали `кредиты на оперции с недвижимостью` и `на провередение свадьбы`, здесь доля несвоевременной оплаты составляет `0,07 - 0,08`. Самые рискованные `кредиты на получение образования` и `операции с автомобилем`, доля несвоевременной оплаты порядка 0,09.

Проведенный анализ показал объектиный результат. однако, не все категирии заёмщиков попали в выбору из-за слишком малого их количества по определённым критериям. Для более точного анализа можно рекомендовать:
- объеденить количество детей по диапазонам. Например: `"без детей"`,` "1-2 ребенка"`, `"3 и более детей"`.
- объединить семейные положения `"не женат/не замужем"` и `"состоит в гражданском браке`" в единую категорию `"холост"`, так как касательно своевременной оплаты данные категории ведут себя одинаково. 
- изменить диапазоны доходов на `"200 - 500 тысяч"` и `"500 тысяч и более"`, таким образом картина может сильно измениться и показать более близкие к реальности данные. Для заёмщиков с доходом менее 50 тысяч стоит ввести дополнительные проверки на благонадёжность, так как их поведене в отношении своевременной оплаты пока не поддаётся прогнозу.

Также банку стоит задуматься над изменением в большую сторону процентных ставок по кредитам на получение образования и на опрации с автомобилем, так как по ним выше риски, а также над увеличением количества предоставляемых документов или поручителей, проводить более строгие проверки потенциальных клиентов в этих категориях для уменьшения рисков несвоевременной оплаты.